 
 
 
table {
  width: 300px; /* Set the width of the table */
  margin: 0 auto; /* Center the table horizontally */
  table-layout: fixed; /* Fix the table layout */
  border-collapse: collapse;

}

/* Ensure cells have fixed width and height */
table td {
  width: 100px; /* Set the width of table cells */
  height: 100px; /* Set the height of table cells */
  text-align: center; /* Center cell content horizontally */
  vertical-align: middle; /* Center cell content vertically */
}

table, th, td {
  border: 5px solid rgb(26, 185, 224);
  /* padding: 10px; */
}
td {
  padding: 90px; /* Increase cell padding to make them bigger */
  font-size: 20px; /* Increase font size of cell content */
}
/* Style for X cells */
table  td {
  font-weight: bold; /* Make the text bold */
  font-size: 50px;
}

/* Style for the "New Game" button */
button {
  background-color: #25c7bf; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

/* Style for the game over message */
.game-over-message {
  font-size: 50px;
  font-weight: bold;
  color: #179c5a; /* Red */
}